body {
  background-image: url('https://png.pngtree.com/background/20210712/original/pngtree-abstract-modern-neon-frame-background-picture-image_1178251.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

